<ion-content>
  <div class="page-container">
    <form class="page-container__login" action="submit">
      <div class="wrapper">
        <label for="name">FirstName: </label>
        <input type="text" class="user__text--input" name="name" />
      </div>
      <div class="wrapper">
        <label for="email">LastName:</label>
        <input class="user__text--input" type="email">
      </div>
      <div class="wrapper">
        <label for="email">Age:</label>
        <input class="user__text--input" type="number">
      </div>      
      <div class="wrapper">
        <label for="email">Email:</label>
        <input class="user__text--input" type="email">
      </div>
      <div class="wrapper">
        <label for="email">Password:</label>
        <input class="user__text--input" type="password">
      </div>



      <div class="wrapper">
        <button class="button">
          Sign Up
        </button>
        <button class="button">
          Login
        </button>
      </div>
    </form>
  </div>
</ion-content>