<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="page-container__profile--info" *ngIf="currentTenant">
      <p>NAME: {{currentTenant.firstName +" "+ currentTenant.lastName}}</p>
      <p>AGE: {{currentTenant.age}}</p>
      <p>EMAIL: {{currentTenant.email}}</p>
      <p>CURRENT STATUS: TBA</p>

      <div class="page-container__profile--update">
        <ion-button class="page-container__profile--update--btn button" (click)="goToUpdate()">Update Profile
        </ion-button>
      </div>

      <div class="wrapper" *ngIf="currentLocation">
        <p>LOCATION:</p>
        <p>Floor: {{currentLocation.floor}}</p>
        <p>Apartment: {{currentLocation.number}}</p>
      </div>
      <ion-button (click)="goToUpdateLocation()">Update LOCATION</ion-button>

    </div>

    <div class="page-container__profile--update">
      <ion-button class="page-container__profile--update--btn button" (click)="logout()">LogOut</ion-button>
    </div>
  </div>
</ion-content>