<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Update Injury</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateInjuryForm">
    <ion-item>
      <ion-label>Body Part</ion-label>
      <ion-select formControlName="bodyPartId">
        <ion-select-option *ngFor="let item of bodyParts" [value]="item.value">{{item.key}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Description</ion-label>
        <ion-input formControlName="description"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="updateInjury()">Add Injury</ion-button>
    <ion-button expand="block" (click)="goBack()">Cancel</ion-button>
  </form>
</ion-content>